main {
    width: 100%;
    padding: 0 20px;
    padding-top: 80px;
}

section {
    width: 100%;
}

.titre {
    width: 50%;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.titre h1 {
    margin-bottom: 20px;
}

.mosaic {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
    justify-content: center;
    gap: 5px;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

figure:nth-child(10n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

figure:nth-child(10n + 2) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 3) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 4) {
  grid-column: span 2;
  grid-row: span 1;
}

figure:nth-child(10n + 5) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 6) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 7) {
  grid-column: span 1;
  grid-row: span 2;
}

figure:nth-child(10n + 8) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 9) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 10) {
  grid-column: span 1;
  grid-row: span 1;
}

figure:nth-child(10n + 11) {
  grid-column: span 2;
  grid-row: span 1;
}

figure:nth-child(10n + 12) {
  grid-column: span 1;
  grid-row: span 1;
}
